:root {
    --red: #E6563B;
    --orange: #DEA03D;
    --green: #EB9D3A;
    --blue: #00ABA9;
    --lightgray: #F0F0F0;
    --gray: #E6E6E6;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--gray);
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

/* screen sizes 576px and up
        Extra Small
*/
@media screen and (min-width:300px) {

    .img_logo {
        display: flex;
        align-items: center;
        max-width: 20%;

    }

    a {
        font-family: 'Nanum Gothic', sans-serif;
    }

    .logo {
        display: flex;
        justify-content: center;
        background-color: var(--lightgray);
        margin-top:5em;
    }

    .whitebackground {
        display: flex;
        height: 20%;
        background-color: var(--lightgray);
        justify-content: center;
        width: 100%;

    }


}



/* screen sizes 576px to 768px
        Small
*/
@media screen and (min-width:576px) and (max-width:768px) {
    /* ... */
    .img_logo {
        display: flex;
        justify-content: center;
    }
}



/* screen sizes 768px to 992px
        Medium
*/
@media screen and (min-width:768px) and (max-width:992px) {
    /* ... */
}



/* screen sizes 992 to 1200px
        Large
*/
@media screen and (min-width:992px) and (max-width:1200px) {
    /* ... */
}



/* screen sizes 1200px to 8000px
        XL Large
*/
@media screen and (min-width:1200px) and (max-width:1400px) {
    /* ... */
}


/* screen sizes 1200px to 8000px
        XL Large
*/
@media screen and (min-width:1400px) and (max-width:4000px) {
    /* ... */
}

